---
Name: silvershop-accepted-payments
After:
  - 'framework/*'
  - 'cms/*'
---
SiteConfig:
  extensions:
    - AcceptedPaymentMethodsExtension
File:
  allowed_extensions:
    - svg

######
# Create some defaults
# TODO also set default files
######
AcceptedPaymentMethodsPopulateTask:
  defaults:
    Dankort:
      Name: "Dankort"
      DefaultIcon: "dankort.svg"
      #FileType: "Image"
      #Image: "dankort.png" How to upload programatically?
    Visa:
      Name: "Visa"
      DefaultIcon: "visa.svg"
    JCB:
      Name: "JCB"
      DefaultIcon: "jcb.svg"
    Mastercard:
      Name: "Mastercard"
      DefaultIcon: "mastercard.svg"
    Maestro:
      Name: "Maestro"
      DefaultIcon: "maestro.svg"
    DinersClub:
      Name: "Diners Club"
      DefaultIcon: "diners-club.svg"